.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures spacing between left & right elements */
  padding: 10px 0;
  margin-top: 20px;
  width: 100%;
}

.pagination-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.pagination-button {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  border-radius: 4px;
}

.pagination-button:hover {
  background: #e0e0e0;
}

.pagination-button.active {
  background: #e06c00;
  color: white;
  border: 1px solid #e06c00;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-next {
  margin-right:10px; 
  border: 0.5px solid rgba(0, 0, 0, 0.6); 
  border-radius:12px;
  color: rgba(0, 0, 0, 0.8); 
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.pagination-next:hover {
  background: white;
  color: rgba(0, 0, 0, 0.9); 
  border: 0.5px solid rgba(0, 0, 0, 0.8); 
}
